/* some style */

body {
    background-color: #faf
}

div#app {
    width: 200px;
    margin: 0 auto;
    text-align: center
}
/* #heart { fill: url(#grad2) } */
.heart {
    width: 200px;
    margin: 0 auto;

    position: relative;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.start-button {
    background-color: #d8d;
    border: 1px;
    font-size: 28px;
    padding: 20px 30px
}

.cancel-button {
    background-color: #d8d;
    border: 1px;
    font-size: 18px;
    padding: 10px 15px
}
